.About-sectionheader{
    margin: 0%;
    padding: 3%;
    display: flex;
}
.Vision,.Mission ,.Community, .Offer {
    margin: 50px;
    margin-top: 0px;
}

.Offer li {
    margin: 20px;
    margin-top:30px ;
}
.Offer ul {
    color: #fff; 
}
.Mi-Vi {
    display: flex;
}
.Mission, .Vision {
    width: 40%;
}

