.About-sectionheader{
    margin: 0%;
    display: flex;
}
.Vision,.Mission ,.Community, .Offer {
    margin-top: 0px;
}

.Offer li {
    margin-top:30px ;
}
.Offer ul {
    color: #fff; 
}
.Mi-Vi {
    display: flex;
}
.Mission, .Vision {
    width: 40%;
}
.About-Content{
    margin-top: 5%;
    width: 100vw;
    height: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    box-sizing: border-box;
    margin-bottom: 5%;
}

@media (max-width: 768px) {
    .Mi-Vi{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .Mission, .Vision {
        width: 100%;
    }
    .Offer li {
        margin-top:10px ;
    }
}
