
.tour-sectionheader{
  margin: 0%;
  padding: 3%;
  display: flex;
}

.bracket-tree{
  display: flex;
  justify-content: center;
  gap: 32px;
  height: 100%;
}

.round-tree, .winner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;;
  width: max-content;
}

.match-node{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.player-slot{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
}

.winner-box{
  background-color: #bd6615;
  padding: 16px;
  border-radius: 8px;
}

.empty{
  background-color: #616161;
}

.filled{
  background-color: #a71fd0;
}

.whole-tree{
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px){
  .game-page{
      flex-direction: column;
      align-items: center;
  }

  .tour-sectionheader{
      flex-direction: column;
      align-items: center;
      width: 90%;
      padding: 0%;
      margin-left: 5%;
  }
}
/* Scroll vertical solo en móvil */
@media (max-width: 768px) {
  .bracket-tree {
    flex-direction: flex;
    align-items: center;
    gap: 24px;
    overflow-y: auto; /* Scroll vertical */
    max-height: 70vh; /* Ajusta la altura máxima */
  }

  /* Estilos del scrollbar */
  .bracket-tree::-webkit-scrollbar {
    width: 8px;
  }

  .bracket-tree::-webkit-scrollbar-thumb {
    background-color: #888; /* Color de la barra */
    border-radius: 4px;
  }

  .bracket-tree::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color al pasar el mouse */
  }

  .bracket-tree::-webkit-scrollbar-track {
    background-color: #333; /* Color del fondo */
  }
}