.bracket-tree{
    display: flex;
    justify-content: center;
    gap: 32px;
    height: 100%;
}

.round-tree, .winner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;;
    width: max-content;
}

.match-node{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.player-slot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
}

.winner-box{
    background-color: #bd6615;
    padding: 16px;
    border-radius: 8px;
}

.empty{
    background-color: #616161;
}

.filled{
    background-color: #a71fd0;
}

.whole-tree{
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}