.profile-container{
    width: 25vw;
    height: 65vh;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 8%;
}

.profile-info{
    display: flex;
    gap: 10px;
    height: max-content;
}

.profile-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-links a {
    text-decoration: none;
}

.profile-info img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-icons{
    width: 1.5vw;
    height: 1.5vw;
    color: white;
}
.profile-button{
    width: 100%;
    height: 7vh;
    display: flex;
    gap: 10px;
    align-items: center;
}