.profile-container{
    margin-top: 3vw;
    margin-left: 5vw;
    width: 26vw;
    height: 63.2vh;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 8%;
}

.profile-info{
    display: flex;
    gap: 10px;
    height: max-content;
    align-items: center;
}

.profile-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-links a {
    text-decoration: none;
}

.profile-info-text{
    width: 100%;
}

.profile-icons{
    width: 1.5vw;
    height: 1.5vw;
    color: white;
}
.profile-button{
    width: 100%;
    height: 7vh;
    display: flex;
    gap: 10px;
    align-items: center;
}

@media (max-width: 768px) {
    .profile-container {
        display: none;
    }
}