.profile-container{
    width: 25%;
    height: 62vh;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5%;
}

.profile-info{
    display: flex;
    gap: 10px;
    height: max-content;
}

.profile-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-info img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}