.create-tour-tittle{
    display: flex;
    align-items: center;
    gap: 12px;
    height: max-content;
    padding-left: 40px;
}

.create-tour-forms{
    margin: 8px;
}

.create-tour-forms form{
    display: flex;
    gap: 32px;
}

.create-tour-forms form div{
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media (max-width: 768px){
    .create-tour-forms form{
        flex-direction: column;
    }

    .create-tour-forms {
        width: 80vw;
    }
}