.setup-container{
    width: 25%;
    height: 62vh;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
}

.tour-players{
    width: 20vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tour-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    gap: 12px;
    padding: 4px;
    border-radius: 8px;
}

.winner{
    background-color: #bd6615;
}

.tour-profile img{
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}