.tour-profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 32px;
    gap: 12px;
    margin-bottom: solid 1px #bc3737;
}

.tour-profile img{
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}