.HomepageContainer {
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.HomepageContainer.reverse {
    flex-direction: row-reverse;
}

.HomepageContainer img, .HomepageContainer1 img{
    height: 65vh;
    width: auto;
}

.HomepageTextContainer{
    width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 4vw;
}
.HomepageTextContainer1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10%;
    padding-left: 5vw;
}

.HomepageText{
    width: 45%;
}

.HomepageTextContainer button, .HomepageTextContainer1 button {
    width: 20vw;
    height: 8vh;
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .HomepageContainer {
        flex-direction: column;
        height: auto;
        width: 90%;
        padding: 5%;
    }

    .HomepageContainer img {
        display: none;
    }

    .HomepageTextContainer,
    .HomepageTextContainer1 {
        height: auto;
        padding: 10%;
        border-radius: 10px;
    }

    .HomepageTextContainer button,
    .HomepageTextContainer1 button {
        width: 60%;
        height: 6vh;
        margin: 5px auto;
    }
}