.tournament-thumbnail{
    width: 15vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.yournament-thumbnail-button{
    position: absolute;
    width: 8vw;
    top: 10px;
    right: 10px;
}

.thumb-tour-info{
    height: 13vh;
    background-color: #100f0fd4;
    padding-left: 10px;
    padding-right: 10px;
    display:flex;
    flex-direction: column;
}
#tour-thum-info-title{
    font-family: 'Sora', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}
.tour-thum-info-text{
    font-family: 'Sora', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: -14px;
}
.tour-flavortext{
    font-family: 'Sora', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: -10px;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis; 
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

@media (max-width: 768px){
    .yournament-thumbnail-button{
        width: 25vw;
    }
    .tournament-thumbnail{
        width: 40vw;
        height: 28vh;
    }
    .card-thumb-info{
        height: 11vh;
    }
    #tour-thum-info-title{
        font-size: 16px;
    }
    .tour-thum-info-title{
        font-size: 14px;
        margin-bottom: 8px;
    }
    
}