.tournament-thumbnail{
    width: 20%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
}

.tour-button{
    position: absolute;
    right: 4px;
    top: 4px;
}

.thumb-tour-info{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 12px;
}

@media (max-width: 768px){
    .tournament-thumbnail{
        width: 40%;
    }
    
}