.navbar {
    display: flex;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw;
    background-color: #1B1B1B;
    color: white;
}
  
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.navbar-search {
    display: flex;
    align-items: center;
}
  
.navbar-search input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}
  
.navbar-links {
    display: flex;
    gap: 15px;
}
  
.navbar-links a, .navbar-links button {
    cursor: pointer;
    text-decoration: none !important;
}

.navbar-links a:hover, .navbar-links button:hover {
    text-decoration: none !important;
}