.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 12vh;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5vw;
    background-color: #1b1b1bdd;
    color: white;
    backdrop-filter: blur(8px);
    box-sizing: border-box;
}
  
.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.navbar-search {
    display: flex;
    align-items: center;
}
  
.navbar-search input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}
  
.navbar-links {
    display: flex;
    gap: 15px;
}
  
.navbar-links a, .navbar-links button {
    cursor: pointer;
    text-decoration: none ;
    width: 100%;
    height: 7vh;
}

.navbar-links a:hover, .navbar-links button:hover {
    text-decoration: none;
}

@media (max-width: 768px) {
    .navbar {
        height: 5vh;
        padding: 10px 2vw;
        width: 90%vw;
        padding: 5%;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }
    .navbar-links{
        width: 50vw;
    }
    .navbar-links a, .navbar-links button {
        width: 100%;
        height: 5vh;
    }
}