.search-sell-container{
  margin-left: 20px;
}
.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;
  max-width: 800px; 
  margin-top: 20px;
}

.card-result {
  background-color: transparent; 
  border-radius: 8px;
  box-shadow: none;
  transition: transform 0.2s, border 0.2s;
  cursor: pointer;
  position: relative;
}

.card-result:hover {
  transform: scale(1.05);
}

.card-result img {
  width: 100%; 
  border-radius: 5px;
}

.card-selected {
  border: 5px solid rgba(168, 44, 212, 0.6); 
  background-color: #A82CD4;
  border-radius: 9px; 
  transform: scale(1.05);
}



@media (max-width: 700px) {
  .list-item{
      flex-basis: calc(50% - 20px);
  }
}
