.footerContainer{
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 2vw;
    background-color: #100F0F;
    box-sizing: border-box;
}
.footerIcons{
    width: 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.footerIcon {
    width: 2.5vw;
    height: 2.5vw;
}

.footerContainer ol{
    list-style-type: none;
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .footerContainer {
        height: auto;
        width: 100vw;
        padding: 5%;
    }

    .footerIcons {
        width: 40vw; /* Increase width to make icons more spaced out */
    }
    .footerIcon {
        width: 7vw; /* Ajusta el tamaño según necesites */
        height: 7vw;
    }
}