.footerContainer{
    width: 99vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    padding: 2vw;
    background-color: #1B1B1B;
    box-sizing: border-box;
    gap: 3%;

}
.footerIcons{
    width: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.footerContainer ol{
    list-style-type: none;
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .footerContainer {
        height: auto;
        width: 100vw;
        padding: 5%;
    }

    .footerIcons {
        width: 40vw; /* Increase width to make icons more spaced out */
    }

    .footerIcons a svg {
        width: 8vw; /* Aumenta el tamaño de los íconos en tablets */
    }
}