.card-form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.card-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0px;
  }

.card-form form > .input-group {
    margin-bottom: 0px; 
    width: 100%;
}
