.card-form{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
.card-form label{
    font-family: 'Sora', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}