.item-section{
    width:100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 12px;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.item-section > * {
    flex: 0 0 auto; /* Prevent children from shrinking or stretching */
}

.item-section::-webkit-scrollbar {
    display: none;
}

@media (max-width: 768px) {
    .item-section{
        width: 100%;
        height: auto;
    }
}