.item-section{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 12px;
    overflow-x: auto;
    width: 100%;
    padding-bottom: 20px;
}

.item-section > * {
    flex: 0 0 auto; /* Prevent children from shrinking or stretching */
}

.item-section::-webkit-scrollbar {
    height: 10px; /* Ancho de la barra de desplazamiento */
}

.item-section::-webkit-scrollbar-track {
    background-color: #ffffff39; /* Fondo de la barra de desplazamiento */
    border-radius: 10px;
}

.item-section::-webkit-scrollbar-thumb {
    background-color: #D9D9D9; /* Color de la barra deslizadora */
    border-radius: 10px;
}

.item-section::-webkit-scrollbar-button {
    display: none; /* Elimina las flechitas */
}