.divlogin {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/81/68/c8/8168c8b3dbc41415bdd2efcfe7a0894c.jpg');
    background-size: cover;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(16, 15, 15, 0.5); 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(10px);  
  }
  
  input, button {
    width: 100%;
    margin-bottom: 15px;
  }
  
  h1, p {
    color: white;
  }
  
  a {
    color: #a71fd0;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }

  