.divregister {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  overflow: hidden;
  padding-right: 5vw;
  justify-content: end;
}
  
.divregister form {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(16, 15, 15, 0.5); 
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  backdrop-filter: blur(10px);  
  justify-content: space-between; 
  gap: 20px;
  margin-right: 9.3%;
}
  
.divregister input {
  width: 90%;
  height: 4vh;
}
.divregister button {
    margin-bottom: 15px;
    width: 100%;
    height: 8vh;
    margin-top: 10px;
}
  
.divregister a {
    color: #40C485;
    text-decoration: none;
    font-weight: bold;
}
  
.divregister a:hover {
    text-decoration: underline;
}

/* Estilos para pantallas móviles */
@media (max-width: 768px) {
  .divregister{
    padding: 6%;
    width: 100vw;
    height: 90vh;
    background-position: right;
    box-sizing: border-box;
    justify-content: center;
  }
  .divregister input {
    width: 86%;
    height: 4vh;
  }
  .divregister button {
    height: 6vh;
}

  .divregister form {
    padding: 10%;
    width: 100%;
    margin: 0%;
  }
}